<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mediscreen</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <div class="row align-self-center">
        <div class="col">
            <button type="button" class="btn btn-info">Mediscreen</button>
        </div>
        <div class="col">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="./list">home</a>
                </li>
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="./transfer">Transfer</a>-->
                <!--                </li>-->
<!--                <li class="nav-item">-->
<!--                     <a class="nav-link" href="./${patient.id}">patient</a>-->
<!--                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a class="nav-link disabled">update patient</a>-->
<!--                                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" href="./logout">Log off</a>-->
                <!--                </li>-->
            </ul>
        </div>
        <div class="position1">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="./list">home</a></li>
                        <li class="breadcrumb-item active"><a href="./{patient.id}">patient</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="logBox">
    <form action="#" th:action="@{/updatePatient}" method="post" th:object="${patient}">
        <fieldset>
            <div class="logBox1">
                <!--                <button type="button" class="col-gd-6 btn btn-success">Pay My Buddy</button>-->
                <br>
                <h2>Update patient</h2>
            </div>
            <br>
            <div class="logBox1">
                <input type="text" class="form-control" placeholder="first name" th:field="*{firstName}" required
                       autofocus="autofocus">
                <br>
                <input type="text" class="form-control" placeholder="last name" th:field="*{lastName}" required
                       autofocus="autofocus">
                <br>
                <input type="date" class="form-control" placeholder="birth date" th:field="*{birthDate}" required
                       autofocus="autofocus">
                <br>
                <input type="text" class="form-control" placeholder="gender" th:field="*{gender}" required
                       autofocus="autofocus">
                <br>
                <input type="address" class="form-control" placeholder="address" th:field="*{address}" required
                       autofocus="autofocus">
                <br>
                <input type="text" class="form-control" placeholder="phone" th:field="*{phone}" required
                       autofocus="autofocus">
                <br>
                <div class="form-group">
                    <a href="./" class="btn btn-secondary col-5" role="button" aria-pressed="true">Cancel</a>
                    <button type="submit" class="col-5 btn btn-primary">Amend</button>
                </div>
            </div>
        </fieldset>
    </form>

</div>

</div>
</body>
</html>