<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mediscreen</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>
<body>
<header>

    <div class="row align-self-center">
        <div class="col">
            <button type="button" class="btn btn-dark">Mediscreen</button>
        </div>
        <div class="position1">
            <div class="row">
                <nav>
                    <ol>home</ol>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="position2">
    <div class="row"></div>
    <div class="row">
        <h4 class="col">Patients' list</h4>
        <a href="/patient/add" class="btn btn-primary col-1" role="button" aria-pressed="true">Add Patient</a>
    </div>
</div>
<div class="position2">
    <table id="patientTable" class="table table-fluid table-striped">
        <thead>
        <tr class="table1">
            <th data-field="id" scope="col">id</th>
            <
            <th data-field="family" scope="col">family name</th>
            <th data-field="given" scope="col">given name</th>
            <th data-field="dob" scope="col">date of birth</th>
            <th data-field="link" scope="col">access</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient:${patients}" style="cursor: pointer">
            <th scope="row" th:text="${patient.id}"></th>
            <td th:text="${patient.family}"></td>
            <td th:text="${patient.given}"></td>
            <td th:text="${patient.dob}"></td>
            <td><a th:href="@{'/patient/' + ${patient.id}}" class="btn btn-info col-5" role="button"
                   aria-pressed="true">select</a></td>
        </tr>
        </tbody>
    </table>

</div>
<script>
$(document).ready(function(){$('#patientTable').DataTable();});

</script>
</body>
</html>